@(logs: List[LogEntry])
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>

    </head>
    <body>
        <div class="container">

            <h1>Log</h1>

            <ul id="sortable" class="list-group">
            @for(entry <- logs) {
                <li class="list-group-item">
                    <span class="badge">@entry.description</span>
                    @entry.id - @entry.job_id
                </li>
            }
            </ul>

        </div>
    </body>
</html>